@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #fff;
	background: rgb(35, 35, 51);
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

fieldset {
	border-color: rgba(219, 219, 235, 0.22) !important;
	color: rgba(219, 219, 235, 0.87) !important;
}

.MuiDataGrid-columnHeadersInner {
	background: #1976d2 !important;
}

.MuiDataGrid-columnHeaderTitle {
	color: #fff !important;
}
